In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
dframe = DataFrame({'k1':['x','x','y','y','z'],
                   'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

dframe

   dataset1  dataset2 k1     k2
0  1.654204 -0.125631  x  alpha
1  0.473681  0.091833  x   beta
2 -0.605609  0.788199  y  alpha
3  1.809814 -0.421062  y   beta
4  0.209879  1.118137  z  alpha

In [13]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [14]:
group1

In [15]:
group1.mean()

k1
x    1.063942
y    0.602103
z    0.209879
Name: dataset1, dtype: float64

In [16]:
cities = np.array(['NY','LA','LA','NY','NY'])

month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [17]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.473681
    JAN   -0.605609
NY  FEB    1.809814
    JAN    0.932041
Name: dataset1, dtype: float64

In [18]:
dframe

   dataset1  dataset2 k1     k2
0  1.654204 -0.125631  x  alpha
1  0.473681  0.091833  x   beta
2 -0.605609  0.788199  y  alpha
3  1.809814 -0.421062  y   beta
4  0.209879  1.118137  z  alpha

In [19]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
x   1.063942 -0.016899
y   0.602103  0.183569
z   0.209879  1.118137

In [21]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
x  alpha  1.654204 -0.125631
   beta   0.473681  0.091833
y  alpha -0.605609  0.788199
   beta   1.809814 -0.421062
z  alpha  0.209879  1.118137

In [22]:
dframe.groupby(['k1']).size()

k1
x    2
y    2
z    1
dtype: int64

In [23]:
dframe

   dataset1  dataset2 k1     k2
0  1.654204 -0.125631  x  alpha
1  0.473681  0.091833  x   beta
2 -0.605609  0.788199  y  alpha
3  1.809814 -0.421062  y   beta
4  0.209879  1.118137  z  alpha

In [32]:
for name,group in dframe.groupby('k1'):
    print ("This is the %s group" %name)
    print (group)
    print ('\n')

This is the x group
   dataset1  dataset2 k1     k2
0  1.654204 -0.125631  x  alpha
1  0.473681  0.091833  x   beta


This is the y group
   dataset1  dataset2 k1     k2
2 -0.605609  0.788199  y  alpha
3  1.809814 -0.421062  y   beta


This is the z group
   dataset1  dataset2 k1     k2
4  0.209879  1.118137  z  alpha

In [33]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print("Key1 = %s Key2 = %s" %(k1,k2))
    print(group)
    print('\n')

Key1 = x Key2 = alpha
   dataset1  dataset2 k1     k2
0  1.654204 -0.125631  x  alpha


Key1 = x Key2 = beta
   dataset1  dataset2 k1    k2
1  0.473681  0.091833  x  beta


Key1 = y Key2 = alpha
   dataset1  dataset2 k1     k2
2 -0.605609  0.788199  y  alpha


Key1 = y Key2 = beta
   dataset1  dataset2 k1    k2
3  1.809814 -0.421062  y  beta


Key1 = z Key2 = alpha
   dataset1  dataset2 k1     k2
4  0.209879  1.118137  z  alpha

In [34]:
dframe

   dataset1  dataset2 k1     k2
0  1.654204 -0.125631  x  alpha
1  0.473681  0.091833  x   beta
2 -0.605609  0.788199  y  alpha
3  1.809814 -0.421062  y   beta
4  0.209879  1.118137  z  alpha

In [35]:
group_dict = dict(list(dframe.groupby('k1')))
group_dict['x']

   dataset1  dataset2 k1     k2
0  1.654204 -0.125631  x  alpha
1  0.473681  0.091833  x   beta

In [37]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  1.654204 -0.125631
 1  0.473681  0.091833
 2 -0.605609  0.788199
 3  1.809814 -0.421062
 4  0.209879  1.118137, dtype('O'):   k1     k2
 0  x  alpha
 1  x   beta
 2  y  alpha
 3  y   beta
 4  z  alpha}

In [38]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
x  alpha -0.125631
   beta   0.091833
y  alpha  0.788199
   beta  -0.421062
z  alpha  1.118137

In [ ]:
#main takeaway is that you can group data by columns or keys.