In [1]:
#Lecture 33 - Reshaping

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                   index=pd.Index(['LA','SF'],name='city'),
                   columns=pd.Index(['a','b','c','d'],name='letter'))

In [4]:
dframe1

letter  a  b  c  d
city
LA      0  1  2  3
SF      4  5  6  7

In [5]:
dframe_st = dframe1.stack()

In [7]:
dframe_st

city  letter
LA    a         0
      b         1
      c         2
      d         3
SF    a         4
      b         5
      c         6
      d         7
dtype: int64

In [8]:
dframe_st.unstack()

letter  a  b  c  d
city
LA      0  1  2  3
SF      4  5  6  7

In [9]:
dframe_st.unstack('letter')

letter  a  b  c  d
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
dframe_st.unstack('city')

city    LA  SF
letter
a        0   4
b        1   5
c        2   6
d        3   7

In [11]:
ser1 = Series([0,1,2],index=['q','x','y'])

ser2 = Series([4,5,6],index=['x','y','z'])

In [12]:
dframe = pd.concat([ser1,ser2],keys=['Alpha','Beta'])
dframe

Alpha  q    0
       x    1
       y    2
Beta   x    4
       y    5
       z    6
dtype: int64

In [13]:
dframe.unstack()

         q    x    y    z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [14]:
dframe.unstack().stack()

Alpha  q    0.0
       x    1.0
       y    2.0
Beta   x    4.0
       y    5.0
       z    6.0
dtype: float64

In [15]:
dframe = dframe.unstack()

In [16]:
dframe

         q    x    y    z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [17]:
dframe.stack()

Alpha  q    0.0
       x    1.0
       y    2.0
Beta   x    4.0
       y    5.0
       z    6.0
dtype: float64

In [18]:
dframe.stack(dropna=False)

Alpha  q    0.0
       x    1.0
       y    2.0
       z    NaN
Beta   q    NaN
       x    4.0
       y    5.0
       z    6.0
dtype: float64