In [13]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [16]:
animals = DataFrame(np.arange(16).reshape(4,4),
                   columns = ['w','x','y','z'],
                   index = ['dog','cat','bird','mouse'])
animals

        w   x   y   z
dog     0   1   2   3
cat     4   5   6   7
bird    8   9  10  11
mouse  12  13  14  15

In [17]:
animals.ix[1:2,['w','y']] = np.nan
animals

          w   x     y   z
dog     0.0   1   2.0   3
cat     NaN   5   NaN   7
bird    8.0   9  10.0  11
mouse  12.0  13  14.0  15

In [18]:
behavior_map = {'w':'good','x':'bad','y':'good','z':'bad'}

In [20]:
animal_col = animals.groupby(behavior_map,axis=1)

animal_col.sum()

        bad  good
dog     4.0   2.0
cat    12.0   NaN
bird   20.0  18.0
mouse  28.0  26.0

In [21]:
behav_series = Series(behavior_map)

behav_series

w    good
x     bad
y    good
z     bad
dtype: object

In [22]:
animals.groupby(behav_series,axis=1).count()

       bad  good
dog      2     2
cat      2     0
bird     2     2
mouse    2     2

In [23]:
animals

          w   x     y   z
dog     0.0   1   2.0   3
cat     NaN   5   NaN   7
bird    8.0   9  10.0  11
mouse  12.0  13  14.0  15

In [24]:
animals.groupby(len).sum()
#this groups the rows by the length of the name and adds them.

      w   x     y   z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [29]:
keys = ['a','b','a','b']

In [30]:
animals.groupby([len,keys]).max()
#groups the data by the lenght of the row title. len(cat) = len(dog) hence the groups under the number 3. 
#groupby also added the keys "a" and "b" onto the dataframe.'''

        w   x     y   z
3 a   0.0   1   2.0   3
  b   NaN   5   NaN   7
4 a   8.0   9  10.0  11
5 b  12.0  13  14.0  15

In [32]:
hier_col = pd.MultiIndex.from_arrays([['ny','ny','ny','sf','sf'],[1,2,3,1,2]],names=['city','sub_value'])

In [33]:
dframe_hr = DataFrame(np.arange(25).reshape(5,5),columns=hier_col)

In [34]:
dframe_hr = dframe_hr * 100

In [35]:
dframe_hr

city         ny                sf
sub_value     1     2     3     1     2
0             0   100   200   300   400
1           500   600   700   800   900
2          1000  1100  1200  1300  1400
3          1500  1600  1700  1800  1900
4          2000  2100  2200  2300  2400