In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
df_left = DataFrame({'key':['x','y','z','x','y'],
                    'data':range(5)})

In [3]:
df_left

   data key
0     0   x
1     1   y
2     2   z
3     3   x
4     4   y

In [4]:
df_right = DataFrame({'group_data':[10,20]},index=['x','y'])

In [5]:
df_right

   group_data
x          10
y          20

In [7]:
pd.merge(df_left,df_right,left_on='key',right_index=True)

   data key  group_data
0     0   x          10
3     3   x          10
1     1   y          20
4     4   y          20

In [20]:
pd.merge(df_left,df_right,left_on='key',right_index=True)

   data key  group_data
0     0   x          10
3     3   x          10
1     1   y          20
4     4   y          20

In [24]:
df_left_hr = DataFrame({'key1':['SF','SF','SF','LA','LA'],
                                'key2':[10,20,30,20,30,],
                                'data_set':np.arange(5.)})

In [25]:
df_left_hr

   data_set key1  key2
0       0.0   SF    10
1       1.0   SF    20
2       2.0   SF    30
3       3.0   LA    20
4       4.0   LA    30

In [26]:
df_right_hr = DataFrame(np.arange(10).reshape(5,2),
                        index=[['LA','LA','SF','SF','SF'],
                              [20,10,10,10,20]],
                       columns=['col1','col2'])

In [27]:
df_right_hr

       col1  col2
LA 20     0     1
   10     2     3
SF 10     4     5
   10     6     7
   20     8     9

In [28]:
pd.merge(df_left_hr,df_right_hr,left_on=['key1','key2'],right_index=True)

   data_set key1  key2  col1  col2
0       0.0   SF    10     4     5
0       0.0   SF    10     6     7
1       1.0   SF    20     8     9
3       3.0   LA    20     0     1

In [29]:
df_left.join(df_right)

   data key  group_data
0     0   x         NaN
1     1   y         NaN
2     2   z         NaN
3     3   x         NaN
4     4   y         NaN

In [30]:
df_left

   data key
0     0   x
1     1   y
2     2   z
3     3   x
4     4   y

In [31]:
df_right

   group_data
x          10
y          20